.div_container {
    height: 70vh;
    width: 70vh;
    background-color: teal;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.inner {
    height: 41vmin;
    width: 41vmin;
    background-color: aqua;
    justify-content: center;
    text-align: center;
    align-content: center;
  

}

.btn {
    height: 10vmin;
    width: 10vmin;
    border: 1px solid black;
    background-color: aqua;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 5vmin;
    
    

}
.X {
    color: RED;
}

.O {
    color: blue;

}



.reset {
    height: 5vmin;
    width: 30vmin;
    border: 1px solid black;
    text-align: center;
    color: black;
    
    
    
    

}

